version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
    commit-message:
      prefix: "deps"
    groups:
      expo:
        patterns:
          - "expo*"
          - "@expo/*"
      react:
        patterns:
          - "react*"
          - "@react-*"
      typescript:
        patterns:
          - "typescript"
          - "@types/*"
      dev-dependencies:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
